body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    background: #3b5998;
    height: 30px;
    padding: 5px;
}

.header a {
    color: aliceblue;
    text-decoration: none;
}

.header .logo {
    position: absolute;
    left: 25px;
    font-size: 200%;
}

.header .logo a {
    color: aliceblue;
    font: Helvetica, 'Arial', sans-serif;
    text-shadow:1px 1px 0px #000000;
}

.header .user {
    position: absolute;
    right: 100px;
}

.header .language {
    position: absolute;
    right:10px;
}

.content {
    margin-top: -20px;
    padding: 30px;
    background: #edf0f5;
    height: 500px;
}

input {
    padding: 10px;
    font-size: 140%;
}

#message {
    background: lightsalmon;
    padding: 10px;
}