{% extends 'layout.twig' %}
{% set active = 'signin' %}

{% block content %}
        <h1>Welcome to OOPS</h1>
        <div id="message">{{ message }}</div>
        <blockquote>
            "Connect with friends and the world around you on OOPS.
            See photos and updates from friends in OOPSNews Feed.
            Share what's new in your life on your OOPSTimeline.
            Find more of what you're looking for with OOPSSearch"
        </blockquote>
{% endblock %}


