<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- Use include to add static chunks -->
{% include 'navbar.twig' %}
<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="sidebar">
    {% block sidebar %}{% endblock %}
</div>

<footer>&copy; 2015 OOPS &middot; 1265 Charlebois G3K 1P2</footer>
</body>
</html>
