<div class="header">
    <span class="logo"><a href="index.php">Kix</a></span>
    {% if user|length <= 0  %}
    <span class="user">Have an account? <a href="signin.php">Sign In</a>. Not yet ? <a href="signup.php">Sign Up</a></span>
    {% else %}
    <span class="user">Welcome {{ user }}. <a href="">Logout</a></span>
    {% endif %}
    <span class="language">
                   <select>
                       <option value="English">English</option>
                       <option value="Francais">Francais</option>
                   </select>
    </span>

</div>
